build:
  type: None
  content: ''
deploy:
  type: text
  content: docker-compose up --build -f https://github.com/spylkkanen/kubernetes-microservices/blob/master/docker-compose.yml -d
test: []
uninstall:
  type: text
  content: ''
dockerCompose: ''
app_dependencies:
  type: None
  content: ''
app_deploy:
  type: None
  content: ''
app_test: []
app_uninstall:
  type: None
  content: ''
app_docker_compose: ''
lastUpdatedBy: Akshat Jain
lastUpdatedOn: 2023-01-13T05:47:15.045Z
