build:
  type: None
  content: ''
deploy:
  type: None
  content: ''
test: []
uninstall:
  type: text
  content: |+
    #!/bin/sh

dockerCompose: ''
app_dependencies:
  type: None
  content: ''
app_deploy:
  type: None
  content: ''
app_test: []
app_uninstall:
  type: None
  content: ''
app_docker_compose: ''
lastUpdatedBy: Akshat Jain
lastUpdatedOn: 2023-01-12T13:28:31.644Z
